@media screen and (max-width: 768px) {
  /* 768px以下に適用されるCSS（タブレット用） */
  .taskList {
    width: 100% !important;
  }
}
@media screen and (max-width: 480px) {
  /* 48px以下に適用されるCSS（スマホ用） */
  // #root{
  //   max-width: 320px;
  // }
  #root {
    overflow-x: hidden;
  }
  .taskList {
    width: 100% !important;
    margin: 50px 10px !important;
    max-width: 320px;
  }
  .task-item {
    width: 100% !important;
    font-size: medium !important;
  }
  .list-tab {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 5rem;
  }
  .list-tab-item {
    width: auto !important;
  }
}
